@model IEnumerable<JMHDESIGN.Models.Funcionarios>

@{
    ViewData["Title"] = "Funcionários";
}

<h1>Funcionários</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Morada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodPostal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Morada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodPostal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDfunc">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IDfunc">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IDfunc">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
