@model IEnumerable<JMHDESIGN.Models.Formularios>

@{
    ViewData["Title"] = "Formulários";
}

<h1>Formulários</h1>

<p>
    @if (User.IsInRole("cliente"))
    {
        <a asp-action="Create">Criar novo</a>
    }
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assunto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            @if (User.IsInRole("funcionario"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Cliente)
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Assunto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            @if (User.IsInRole("funcionario"))
            {
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Email)
            </td>
            }
        <td>
            @if(User.IsInRole("cliente"))
            {
            <a asp-action="Edit" asp-route-id="@item.IDform">Editar </a> <a>| </a> 
            }

            <a asp-action="Details" asp-route-id="@item.IDform">Detalhes</a> |
            <a asp-action="Delete" asp-route-id="@item.IDform">Eliminar</a>
        </td>
        </tr>
}
    </tbody>
</table>
